/* Fonts */
:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Lato", sans-serif;
  }
  
  /* Global Colors */
  :root {
    --color-default: #212529;
    --color-default-rgb: 33, 37, 41;
    /* --color-background: #ffffff; */
    --color-background-rgb: 255, 255, 255;
    --color-primary: #e84545;
    --color-primary-rgb: 232, 69, 69;
    --color-secondary: #32353a;
    --color-secondary-rgb: 50, 53, 58;
    /* --color-box-background: #ffffff; */
    --color-box-background-rgb: 255, 255, 255;
    --color-inverse: #ffffff;
    --color-inverse-rgb: 255, 255, 255;
  }
  
  /* Nav Menu Colors */
  :root {
    --color-nav: #3a3939;
    --color-nav-hover: #e84545;
    --color-nav-dropdown: #3a3939;
    --color-nav-dropdown-hover: #e84545;
    --color-nav-dropdown-background: #ffffff;
    --color-nav-mobile-background: #ffffff;
  }
  
  /* Smooth scroll */
  :root {
    scroll-behavior: smooth;
  }
  



.experience {
    --color-background: #f4f4f4;
    /* color: #212529; */
    /* border: 2px solid white; */
  }
  
  /* .experience .content h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    padding: 10px 20px;
    background: rgba(var(--color-primary-rgb), 0.05);
    color: var(--color-primary);
    border-radius: 7px;
    display: inline-block;
    
  } */

  .experience .section-subtitle{
    /* border: 2px solid red; */
    padding-left: 2px;
    /* display: flex; */
    text-align:left;

  }
  
  .experience .content h2 {
    color: var(--color-secondary);
    font-weight: 700;
  }
  
  .experience .content p:last-child {
    margin-bottom: 0;
    
  }
  
  .experience .content .read-more {
    background: var(--color-primary);
    color: var(--color-inverse);
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 12px 24px;
    border-radius: 5px;
    transition: 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .experience .content .read-more i {
    font-size: 18px;
    margin-left: 5px;
    line-height: 0;
    transition: 0.3s;
  }
  
  .experience .content .read-more:hover {
    background: rgba(var(--color-primary-rgb), 0.8);
    padding-right: 19px;
  }
  
  .experience .content .read-more:hover i {
    margin-left: 10px;
  }
  
  .experience .icon-box {
    padding: 50px 40px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: all 0.3s ease-out 0s;
    background-color: var(--color-box-background);
  }
  
  .experience .icon-box i {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 0;
    transition: all 0.4s ease-out 0s;
    background-color: rgba(var(--color-primary-rgb), 0.05);
    color: var(--color-primary);
  }
  
  .experience .icon-box h3 {
    color: var(--color-secondary);
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
  }
  
  .experience .icon-box p {
    margin-bottom: 0;
  }
  
  .experience .icon-box:hover i {
    background-color: var(--color-primary);
    color: var(--color-inverse);
  }
  
  .experience .icon-boxes .col-md-6:nth-child(2) .icon-box,
  .experience .icon-boxes .col-md-6:nth-child(4) .icon-box {
    margin-top: -40px;
  }
  
  @media (max-width: 768px) {
  
    .experience .icon-boxes .col-md-6:nth-child(2) .icon-box,
    .experience .icon-boxes .col-md-6:nth-child(4) .icon-box {
      margin-top: 0;
    }
  }
  